<%= render 'admin_bar' %>

<div class="show-sidebar">
  <%= render 'sidebar' %>
</div>

<div class="show-content"> 
  <%= render 'content' %>

  <div class="show-users-content">
    <%= render "layouts/user_content_posts" %>
  </div>
</div>