<% content_for :admin_bar_panel do %>
  <ul>
      <li><%= link_to 'New Serial', new_serial_path %></li>
  </ul>
<% end %>

<h1>Series</h1>

<div class="index_shows_panel">

    <% @serials.each do |serial| %>


        <div class="index_shows_item">
           <%=link_to image_tag("http://placehold.it/170x273&text=#{serial.name}"), serial_path(serial) %>
            <p><%= link_to "#{serial.name}", serial_path(serial) %></p>

        </div>

      
    <% end %>

</div>


