<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      It seems there's a new episode of one of the series you follow.<br/>
    </p>
    <p>
      Go to Showganizer and check it out: <%= @url %>.
    </p>
    <p>have a great day and may the force be with you!</p>
  </body>
</html>