<h1>Series Already Seen</h1>

<div class="my_series_stand">
	<%= link_to "View all my seen series", my_seen_series_path(@user), class: "all-series-link" %>

		<div class="index_shows_panel">
		<% if @series.any? %>
		    <% @series.last(5).reverse.each do |show| %>


		        <div class="index_shows_item">
			           <%=link_to image_tag("#{show.poster}"), serial_path(show) %>
			            <p><%= link_to "#{show.name}", serial_path(show) %></p>

		        </div>

		      
		    <% end %>
		<% else %>
	    <p class="center-warning"><%= if is_himself?(@user); "Woah, you don't have any series added, why not #{link_to 'browsing', serials_path }?".html_safe else "#{@user.username} hasn't watched any series yet." end%></p>
	  	<% end %>
	</div>
</div>