<% content_for :admin_bar_panel do %>
  <ul>
    <li><%= link_to 'New Movie', new_movie_path %></li>
  </ul>
<% end %>

<h1>Movies</h1>


<div class="index_shows_panel">

    <% @movies.sort {|a,b| a.name <=> b.name }.each do |movie| %>


        <div class="index_shows_item">
           <%=link_to image_tag("#{movie.poster}"), movie_path(movie) %>
            <p><%= link_to "#{movie.name}", movie_path(movie) %></p>

        </div>

      
    <% end %>

</div>


