var $post = $('<%= escape_javascript render @post %>');
$post.hide();
$("#posts").prepend($post);
$('#posts p.center-warning').fadeOut('fast');
$(".post-form-container").fadeOut('fast', function() {
    $post.fadeIn('fast'); 
    $flash_bar =  ($('.flash-bar').length > 0)? $('.flash-bar') : $('<div></div>').addClass('flash-bar');
    $flash_bar.html("Post was successfully DOCTOR.").hide().prependTo('#main-content')
    .fadeIn().delay(3000).fadeOut();
}).find("form")[0].reset();
