/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding: 0;
	margin: 0 0 40px;
	background: #efefef;
	font-family: "Roboto";
}

#logo {
	width: 130px;
	border:1px solid #ddd;
	height: 50px;
	margin-bottom: 20px;
}
#logo a {
	display: block;
	width: 100%;
	height: 100%;
}

#main-nav {
	width: 130px;
	padding: 10px 20px;
	border-right: 1px solid #bbb;
	box-shadow: 1px -4px 6px rgba(0,0,0,0.1);
	float: left;
	position: relative;
	z-index: 1;

}

#main {
	margin-left: 170px;
}


#top-bar {
	width: 100%;
	height: 30px;
	padding: 5px 0;
	background: #ddd;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	position: relative;
}

#top-bar input {
	font-weight: lighter;
	font-family: "Roboto";
	font-size: 12px; 
	padding: 3px 5px 0;
	margin: 0;
	height: 20px;
}

#top-bar input:focus {
	font-style: normal;
}


#top-search-bar {
	float: left;
	margin-left: 10px;
}

#top-search-bar input {
	font-style: italic;
	width: 150px;
	opacity: .4;
	transition: all 0.2s linear;
}


#top-search-bar input:hover {
	opacity: 1;
}

#top-search-bar input:focus {
	width: 250px;
	opacity: 1;
}

#top-search-bar input {
	height: 20px;
}

#top-user-bar {
	float: right;
	margin-right: 15px;
	font-size: 14px;
}

#top-user-bar p {
	margin: 0;
	padding: 0;
}

#top-user-bar .top-bar-user-url {
	vertical-align: top;
}

#top-user-bar .top-bar-avatar {
	margin: 0 5px;
	vertical-align: middle;
	box-shadow: 0 0 2px rgba(255,255,255,.3);
}


#top-user-bar small.top-bar-admin-tag {
	background: #bbb;
	font-variant: small-caps;
	line-height: 11px;
	padding: 2px 5px 4px;
	display: inline-block;
	letter-spacing: 0.05em;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
	color: #666;
	font-size: 12px;
	border-radius: 4px;
	margin: 0 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

#top-bar-buttons {
	padding: 3px;
	position: absolute;
	right: 15px;
	top: 5px;
	transition: opacity 0.2s linear;

}

#top-bar-auth {
	position: absolute;
	right: 15px;
	top: 5px;
	transition: opacity 0.2s linear;
}

#top-bar-auth input[type="submit"]{
	width: 0;
	height: 0;
	visibility: hidden;
	position: absolute;	
}

/* Main content */
#main-content {
	width: 85%;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px 30px 30px;
	position: relative;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

h1 {
	margin: 10px 0;
	padding: 0;
}


.show {
	opacity: 1;
	z-index: 1;
}
.hidden {
	opacity: 0;
	z-index: 0;
}

/* Flash bar */

.flash-bar {
	width: 100%;
	text-align: center;
	background: #FFF4B5;
	color: #947E00;
	padding: 5px 0;
	font-size: 14px;
	border-top: 1px solid #E3D586;
	border-bottom: 1px solid #E3D586;
	font-weight: lighter;
	position: relative;
}

.flash-bar .close {
	position: absolute;
	right: 5px;
	top: 0;
	font-size: 15px;
	font-family: "Roboto";
	font-weight: lighter;
	text-decoration: none;
	color: #999;
	background: none;

}
.flash-bar .close:hover {
	text-decoration: none;
	background: none;
}

/* Menu */

#main-nav nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: "Roboto";
	font-size: 13px
}

#main-nav nav a {
	text-decoration: none;
	color: #666;
}


#main-nav nav ul li a:hover {
	background-color: #666;
	color: #efefef;
}

#main-nav nav ul li{
	display: block;
	margin: 0 0 3px;
}

#main-nav nav ul li a {
	background-color: #ddd;
	padding: 5px 5px 5px 30px;
	width: 95px;
	background-position: 5% center;
	background-repeat: no-repeat;
	display: block;
}

#main-nav nav ul li a:hover {
	background-position: inherit;
}

#main-nav nav ul li ul li {
	margin: 2px 0;
}

#main-nav nav ul li ul li a {
	margin-left: 40px;
	width: 82px;
	padding: 3px 4px;
	font-size: 11px;
}


/* Menu icons */

#main-nav nav .home > a {background-image: asset-url("homeicon.png");}
#main-nav nav .home > a:hover {background-image: asset-url("homeicon_h.png");}

#main-nav nav .movies > a {background-image: asset-url("moviesicon.png");}
#main-nav nav .movies > a:hover {background-image: asset-url("moviesicon_h.png");}

#main-nav nav .series > a {background-image: asset-url("seriesicon.png");}
#main-nav nav .series > a:hover {background-image: asset-url("seriesicon_h.png");}

#main-nav nav .shows > a {background-image: asset-url("showsicon.png");}
#main-nav nav .shows > a:hover {background-image: asset-url("showsicon_h.png");}

#main-nav nav .watch > a {background-image: asset-url("watchicon.png");}
#main-nav nav .watch > a:hover {background-image: asset-url("watchicon_h.png");}

/* Admin Bar Panel */

#admin-bar-panel {
	background: #eee;
	padding: 10px;
	font-size: 12px;
	margin: 30px auto;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

#admin-bar-panel h3 {
	margin: 0;
	color: #444;

}

#admin-bar-panel ul {
	padding-left: 20px;
	margin: 10px 0;
}

#admin-bar-panel small {
	font-size: 9px;
	color: #999;
}