/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding: 0;
	margin: 0 0 40px;
	background: #efefef;
	font-family: "Roboto";
}

#logo {
	width: 130px;
	border:1px solid #ddd;
	height: 50px;
}
#logo a {
	display: block;
	width: 100%;
	height: 100%;
}

#main-nav {
	width: 130px;
	padding: 10px 20px;
	border-right: 1px solid #bbb;
	box-shadow: 1px -4px 6px rgba(0,0,0,0.1);
	float: left;

}

#main {
	margin-left: 170px;
}


#top-bar {
	width: 100%;
	height: 30px;
	padding: 5px 0;
	background: #ddd;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

#top-bar input {
	font-weight: lighter;
	font-family: "Roboto";
	font-size: 12px; 
	padding: 3px 5px 0;
	margin: 0;
	height: 20px;
}

#top-bar input:focus {
	font-style: normal;
}


#top-search-bar {
	float: left;
	margin-left: 10px;
}

#top-search-bar input {
	font-style: italic;
	width: 150px;
	opacity: .4;
	transition: all 0.2s linear;
}


#top-search-bar input:hover {
	opacity: 1;
}

#top-search-bar input:focus {
	width: 250px;
	opacity: 1;
}

#top-search-bar input {
	height: 20px;
}

#top-user-bar {
	float: right;
	margin-right: 15px;
	font-size: 14px;
	transition: opacity 1s linear;
}

#top-bar-buttons {
	padding: 3px;
}

#top-bar-auth {
	float: right;
	transition: opacity 1s linear;
}

#top-bar-auth input[type="submit"]{
	width: 0;
	height: 0;
	visibility: hidden;
	position: absolute;	
}
#main-content {
	width: 85%;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px 30px 30px;
	position: relative;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

h1 {
	margin: 10px 0;
	padding: 0;
}

.hidden {
	opacity: 0;
	display: none;
}

.flash-bar {
	width: 100%;
	text-align: center;
	background: #FFF4B5;
	color: #947E00;
	padding: 5px 0;
	font-size: 14px;
	border-top: 1px solid #E3D586;
	border-bottom: 1px solid #E3D586;
	font-weight: lighter;
	position: relative;
}

.flash-bar .close {
	position: absolute;
	right: 5px;
	top: 0;
	font-size: 15px;
	font-family: "Roboto";
	font-weight: lighter;
	text-decoration: none;
	color: #999;
	background: none;

}
.flash-bar .close:hover {
	text-decoration: none;
	background: none;
}