// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#user-profile-title {
	display: inline;
}*/

#user-profile-desc {
	border-bottom: 1px solid #eee;
	overflow: auto;
	position: relative;
}


#user-profile-picture {
	border: 2px solid #eee;
	width: 120px;
	height: 120px;
	float: left;
	margin: 0 10px 10px 0;
}

#user-profile-data ul {
	list-style: none;
}

#user-profile-buttons {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

/* Forms users */

#main-content form.new_user {
	width: 60%;
	margin: 0 auto;
}

#main-content form.login {
	text-align: center;
	width: 60%;
	margin: 0 auto;

	.login-form-text {
		font-weight: lighter;
		font-size: 14px;
	}
}

#main-content .edit-user-picture {
	float: left;
	width: calc( 45% - 40px);
	margin: 20px 30px 30px 0;

	.edit-user-profile-pic {
	width: 180px;
	margin-left: calc(50% - 90px);
	border: 1px solid #aaa;
	}

	p {
		font-weight: lighter;
		text-align: center;
		padding: 0 30px;
		font-size: 14px;
	}
}

#main-content form .edit-user-fields {
	width: 55%;
	float: left;
}

#main-content form.edit_user {

	input[type="text"], input[type="password"],
	input[type="number"], input[type="email"] {
		max-width: 45%;
	}

}

#main-content form .edit-user-shows {
	clear: both;
}
