<h1>My Series</h1>

<div class="index_shows_panel">

	<% if @user.serials.any? %>
	    <% @serials.sort {|a,b| a.name <=> b.name }.each do |serial| %>


	        <div class="index_shows_item">
	           <%=link_to image_tag("#{serial.poster}"), serial_path(serial) %>
	            <p><%= link_to "#{serial.name}", serial_path(serial) %></p>

	        </div>

	      
	    <% end %>
	<% else %>
    	<p class="center-warning"><%= if is_himself?(@user); "Woah, you don't have any series added, why not #{link_to 'browsing', serials_path }?".html_safe else "#{@user.username} hasn't added any series yet." end%></p>
 	 <% end %>

</div>