<div class="user-content-tabs">
	<ul>
		<li><%= link_to "Reviews", polymorphic_path(@array_parent)+"/reviews", { class: "show-ajax-reviews active", remote: true } %></li>
		<li><%= link_to "Posts", polymorphic_path(@array_parent)+"/posts", { class: "show-ajax-posts", remote: true }%></li>
	</ul>
</div>

<div class="user-content-content">

    <%= render partial: "reviews/reviews", object: @reviews %>

</div>
