var $flash_bar =  ($('.flash-bar').length > 0)? $('.flash-bar') : $('<div></div>').addClass('flash-bar');
$flash_bar.html("Oops! You need to be <%= escape_javascript link_to 'logged in', new_session_path %>!").hide().prependTo('#main-content')
.fadeIn().delay(3000).fadeOut();